VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_FIREBASE_API_KEY=AIzaSyCigtEYIhIKucLeBncf2GOImG3zRcv8jgs
VITE_FIREBASE_AUTH_DOMAIN=colony-7778e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=colony-7778e
VITE_FIREBASE_STORAGE_BUCKET=colony-7778e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=383322306457
VITE_FIREBASE_APP_ID=1:383322306457:web:1f3a86d37cdeb148b80508
VITE_FIREBASE_MEASUREMENT_ID=G-YKS3LW2YM9
AI_ANT_MOCK_MODE=true
OPENAI_API_KEY=
OPENAI_DEFAULT_MODEL=gpt-5-mini
